@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.Body{
    font-family: 'Poppins', sans-serif;
    padding: 2%;
}
.Development{
    margin: 6%;
    padding: 3%;
   
}
.description{
    font-size: 24px;
    font-weight: 300;
}
.myproject{
    font-size: xx-large;
    font-weight: 700;
  margin-bottom: 3%;
  line-height: 52px;
  text-transform: uppercase;
}
.image1{
    overflow: hidden;
       border: solid;
       border-style: outset;
    border-radius: 50%;
    /* justify-content: center; */
   /* z-index: 3; */
   /* margin-right:2% ; */
    width: 200px;
    height: 200px;
    background-color: black;
}
.development{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    position: relative;
    margin-bottom: 10px
}
.heading{
    font-size: xx-large;
    font-weight: 700;
  margin-bottom: 3%;
  line-height: 52px;
  text-transform: uppercase;
}
.section{
    /* margin: 3%; */
    padding: 3%;
    /* height: 30%; */
    align-items: center;
    text-align: center;
    justify-content: space-around;   
    background-color: #9b10d7;
   display: flex;
}
.MainContainer{
    display: inline-block;
   width: 20%;
  margin-top: 2%;
}
.container{
   /* width: 30%; */
    padding: 2%;
   margin: 2%;
    text-align: center;
       border-radius: 8px;
    row-gap: 3%;
    display: inline-block;
   }
.CirculrProgress1{
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: conic-gradient(rgb(61, 2, 85) 314deg, rgb(212, 209, 209) 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.CirculrProgress2{
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: conic-gradient(rgb(61, 2, 85)  284deg, rgb(212, 209, 209) 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.CirculrProgress3{
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: conic-gradient(rgb(61, 2, 85)  264deg, rgb(212, 209, 209) 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.CirculrProgress4{
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: conic-gradient(rgb(61, 2, 85)  224deg, rgb(212, 209, 209) 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.CirculrProgress1::before{
    content: "";
    position: absolute;
    height: 60%;
    width: 60%;
    border-radius: 50%;
    background-color: rgb(209, 211, 213);
}
.CirculrProgress2::before{
    content: "";
    position: absolute;
    height: 60%;
    width: 60%;
    border-radius: 50%;
    background-color: rgb(209, 211, 213);
    /* background: conic-gradient(red 256deg, rgb(255, 255, 65) 0deg) */
}
.CirculrProgress3::before{
    content: "";
    position: absolute;
    height: 60%;
    width: 60%;
    border-radius: 50%;
    background-color: rgb(209, 211, 213);
}
.CirculrProgress4::before{
    content: "";
    position: absolute;
    height: 60%;
    width: 60%;
    border-radius: 50%;
    background-color: rgb(209, 211, 213);
}
.progressValue{
    position: relative;
    font-size: large;
    font-weight: 600;
    color: rgb(78, 2, 150);
}

.Body{
    border: rgb(58, 0, 112) solid 5px;
    border-style: double;
    border-radius: 20px;
    
}
.Project{
    display: flex;
   
}
.Project1{
    display: flex;
    flex-direction: row-reverse;
}
.projectD{
     width: 30%;
     padding: 2%;
}
.wrappers{
      /* margin-top: 5%; */
    transform: translate(-50%,-50%);
    /* left: 60%; */
    /* top: 50%; */

}
.containerS{
    width: 100%;
    /* padding: 30px 30px 50px; */
       border-radius: 10px;
    }
    .text1{
        font-size: 24px;
        font-weight: 300;
    }
    .text2{
        font-size: 20px;
        font-weight: 300;
    }
.SkillS{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: x-large;
    position: relative;
    margin-top: 10px
   
}
.details{
    width: 100%;
    display: flex;  
    justify-content: space-between;
    margin-bottom: 3%;    
}
.bar{
    position: relative;

    border: 2px solid rgb(22, 0, 31);

    border-radius: 20px;

}
.bar div{
    position: relative;
    width: 0;
    height: 9px;
    border-radius: 10px;
    background-color:rgb(61, 2, 85) ;


}
.skills:not(:last-child){
    margin-bottom: 30px;
}
#htmlBar{
    animation: htmlBar 3s forwards;
}
@keyframes htmlBar{
    100%{
        width: 90%;
    }
}
#NextJs{
    animation: NextJs 2s forwards;
}
@keyframes NextJs{
    100%{
        width: 95%;
    }
}
#React{
    animation: React 2s forwards;
}
@keyframes React{
    100%{
        width: 75%;
    }
}
#MySql{
    animation: MySql 2s forwards;
}
@keyframes MySql{
    100%{
        width: 65%;
    }
}