
.navbar {
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0%;
    z-index: 1;
    transition: all 0.3s ease;
    box-shadow: 0 1px 12px 2px #42577adf;
}
@media (prefers-color-scheme: dark) {
    .navbar{
      color-scheme: dark;
    }
    .navbar {
      color: white;
      background: black;
      box-shadow: 0 1px 12px 2px #ad23f7df;
    }
  }
.scroll{
    background-color: blueviolet;
}
.navtag{
    display: flex;
    text-align: center;
       justify-content: center;
}
.nava{
    cursor: pointer;
    padding: 1%;
    font-size: large;
    font-family: inherit;
    font-weight: 600;
}
.nava:hover{
    color: rgb(149, 11, 229);
}
.scroll{
    background-color: brown;
    position: relative;
}

@media only screen and (max-width: 980px) {
   .nava{font-size: medium;}

}
@media only screen and (max-width: 450px) {
  .nava{font-size: small;}

}
@media only screen and (max-width: 350px) {
 .nava{ font-size: xx-small;}

}